@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body{
background-color: rgb(114, 109, 97);
background-attachment: fixed;
}

h1{ font: normal 400 50px MedievalSharp;
    text-align: center;
    text-decoration: underline;
    

}
.first{
    color: rgb(146, 13, 13);
    font: normal 400 20px MedievalSharp;
}
.second{
   color: rgb(255, 223, 42);
   font: normal 400 20px MedievalSharp;
}
h2#magicas{
   color: rgb(93, 19, 136);
   font: normal 400 20px MedievalSharp;}

/* aprendendo a colocar cada h1 do estilo que voce quiser */

/* aqui podemos ver que eu fiz .first e . second no modo class, e o ultimo para que podemos ver que da pra ser feito individualmente com ID */